//- include ./includes/home_content
extend layout
block body
    #main-container
        main.hero-card
            .info
                div
                    h1 #{homeContent.h1p1Content} 
                        span.imp #{homeContent.h1SpanContent}  
                        |#{homeContent.h1p2Content}
                        
                    p #{homeContent.homePtagP1}
                        br 
                        |#{homeContent.homePtagP2}
                    h2 
                        span.imp1 #{homeContent.h2Span1}
                            br 
                            |#{homeContent.h2Span2}
                            br 
                            |#{homeContent.h2Span3} 
                        |#{homeContent.h2Content}
                .event-img 
                    img.event-img(src=images.imageSource, alt=images.imageAlt)
    section#instructions
        h1.instruct-title #{roles.instructTitle}
        .instruct-card
            each item in cardsName
                .roles 
                    h2.card-name #{item.roleCardTitle}
                    each role in item.cardRoles 
                        .each-role
                            h4=role