doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Super Admin Dashboard
    link(rel="stylesheet", href="/static/css/super-admin-dash.css")
  body
    #main-content
      header.header
          h2 Super Admin Dashboard
          nav
            ul#sidemenu
              li
                a.nav-link(href="/") Home
            button.logout
              a(href="#",onclick="logoutUser()", style="color:#e9d0b6")
                | Logout
                i.fa-solid.fa-arrow-right-from-bracket(style="padding:5px")
    #userCategory
      .users
        .clgAdminUsers
          div COLLEGE ADMINS
        .studentUsers
          div STUDENTS
    .section
      h2 College Admins
      if collegeAdmins && collegeAdmins.length
        table
          tr
            th College Name
            th College Code
            th Official Email
            th Location
            th Affiliation No.
            th College Logo
            th Action
          each admin in collegeAdmins
            .user-card
            tr
              td #{admin.collegeName || 'N/A'}
              td #{admin.email || 'N/A'}
              td #{admin.collegeCode || 'N/A'}
              td #{admin.location || 'N/A'}
              td #{admin.affiliationNumber || 'N/A'}
              td 
                if admin.logofile
                  img(src=`/admin_users_logo/${admin.logofile}`, alt="College Logo", width="60")
                else
                  p No logo uploaded
              td
                button(onclick=`approveUser('${admin._id}')`) Approve
                button(onclick=`editUser('${admin._id}')`) Edit
                button(onclick=`deleteUser('${admin._id}')`) Delete
      else
        p No college admin users found.

    .section
      h2 Student Users
      if students && students.length
        table
          tr
            th Student Name
            th Email Id
            th College Code
            th Register Number
            th Action
          each student in students
            .user-card
            tr
              td #{student.studentName || 'N/A'}
              td #{student.email || 'N/A'}
              td #{student.collegeCode || 'N/A'}
              td #{student.registerNumber || 'N/A'}
              td 
                button(onclick=`approveUser('${student._id}')`) Approve
                button(onclick=`editUser('${student._id}')`) Edit
                button(onclick=`deleteUser('${student._id}')`) Delete
      else
        p No student users found.

    //- script(src="/script/college-admin.js")
    script(src="/script/super-admin-dashboard.js")
